html {
  background-color: black;
}

body {
  background-color: black;
  padding: 0rem;
}

/*Header css*/
.header {
  background-color: black;
  padding: 15rem;
  text-align: center;
  background-color: black;
  background-image: url(../images/busniessCardCar.jpg);
  background-size: 1000 800; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: 1000 800; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-siz: 1000 800; /* optional for Firefox 3.6 */
  -o-backgroundize: 1000 800; /* for Opera 9.5 */
  margin: 0rem; /* to remove the default white margin of body */
  padding: 8rem; /* to remove the default white margin of body */
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 6rem;
  outline-color: blue;
  text-align: center;
  color: white;
  padding: 0rem;
  text-emphasis-color: white;
}

.slogan {
  text-align: center;
  color: white;
  padding: 0rem;
  font-size: 3rem;
  background-color: black;
}
.nav {
  color: white;
  padding-bottom: 2rem;
}
/*body css*/
.container {
  background-color: black;
  color: white;
}
.row {
  background-color: black;
}

.mainText {
  background-color: black;
  color: white;
  padding: 0.1rem;
}
/*Footer css*/
footer {
  color: black;
  padding: 0rem;
}

.footer {
  text-align: left;
  padding: 1rem;
  position: absolute;
  color: black;
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  padding: 0rem;
}
