html {
  background-color: transparent;
}

body {
  background-color: transparent;
  padding: 0rem;
}

/*Header css*/
header{
  background-color: black;
}
.header {
  color: white;
  background-color: transparent;
  padding: 15rem;
  
  text-align: center;
  background-color: black;
  background-image: url(../images/busniessCardCar.jpg);
  background-size: contain; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: contain; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-siz: contain; /* optional for Firefox 3.6 */
  -o-backgroundize: contain; /* for Opera 9.5 */
  margin: 0rem; /* to remove the default black margin of body */
  padding: 8rem; /* to remove the default black margin of body */
  background-repeat: no-repeat;
  background-position: center;
}
.ase{
  border-radius: 15px ;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 6rem;
  text-align: center;
  color: white;
  padding: 0rem;
  
}
.jumbotron {
  background-color: transparent;
  color: white;
}
.slogan {
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 3rem;
  background-color: transparent;
}
.nav {
  color: black;
  padding-bottom: 2rem;
}
/*body css*/
.container {
  background-color: transparent;
  color: black;
}
.row {
  background-color: transparent;
}

.mainText {
  background-color: transparent;
  color: black;
  padding: 0.1rem;
}
.caboff{
  float: right;
  border-right: 15px;
}
.btelogo{
  height: 100px;
  float: right;
}
.BTE{
 font-weight: bold ;
}
/*Footer css*/
footer {
  color: transparent;
  padding: 0rem;
}

.footer {
  text-align: left;
  padding: 1rem;
  position: absolute;
  color: transparent;
  background-color: transparent;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  padding: 0rem;
}



// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }