html {
  background-color: black;
}

body {
  background-color: black;
  padding: 0rem;
}

/*Header css*/
.header {
  background-color: black;
  padding: 0rem;
  text-align: center;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  outline-color: blue;
  text-align: center;
  color: white;
  padding: 0rem;
}

.slogan {
  text-align: center;
  color: white;
  padding: 0rem;
  font-size: 2rem;
}
.nav {
  color: white;
  padding-bottom: 2rem;
}
/*body css*/
.container {
  background-color: black;
  color: white;
}
.row {
  background-color: black;
}

.mainText {
  background-color: black;
  color: white;
  padding: 0rem;
}
/*Footer css*/
footer {
  color: black;
  padding: 0rem;
}

.footer {
  text-align: left;
  padding: 1 rem;
  position: absolute;
  color: black;
  background-color: black;
  color: rgb(241, 205, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  padding: 0rem;
}
